@model MinShop_Backstage.Models.stock


<h2>下架商品</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.productId)

        <div class="form-group">
            <label for="name" class="col-sm-2 col-form-label">商品名稱</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="inventory" class="col-sm-2 col-form-label">庫存量</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.inventory, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.inventory, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="price" class="col-sm-2 col-form-label">定價</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="removalDate" class="col-sm-2 col-form-label">下架日</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.removalDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.removalDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="下架" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回", "PMS")
</div>
