@using System.Data
@model System.Data.DataTable

<h2>
    商品管理
</h2>

<div class="form-row ">
    <div class="form-group col-md-3">
        <div class="dropdown">
            <button class="btn btn-outline-primary btn-lg btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                商品類別
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item h3" href="#">服裝</a>
                <a class="dropdown-item h3" href="#">3C用品</a>
                <a class="dropdown-item h3" href="#">美妝用品</a>
                <a class="dropdown-item h3" href="#">居家生活</a>
                <a class="dropdown-item h3" href="#">戶外休閒</a>
                <a class="dropdown-item h3" href="#">圖書</a>
            </div>
        </div>
    </div>
    <div class="form-group col-md-5">
        <input type="text" class="form-control-lg" id="name" placeholder="請輸入商品名">
    </div>
    <div class="form-group col-md-4">
        <button type="submit" class="btn btn-info btn-lg btn-block">查詢</button>
    </div>
</div>
    <table class="table table-striped h3">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">商品編號</th>
                <th scope="col">商品名稱</th>
                <th scope="col">庫存量</th>
                <th scope="col">定價</th>
                <th scope="col">上架日</th>
                <th scope="col">下架日</th>
            </tr>
        </thead>
        <tbody>
           @foreach (DataRow row in Model.Rows)
            {
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        </div>
                    </td>
                    <td><input type="text" class="form-control" value="@row[0]"></td>
                    <td><input type="text" class="form-control" value="@row[1]"></td>
                    <td><input type="text" class="form-control" value="@row[9]"></td>
                    <td><input type="text" class="form-control" value="@row[2]"></td>
                    <td><input type="text" class="form-control" value="@row[7]"></td>
                    <td><input type="text" class="form-control" value="@row[8]"></td>
                </tr>
            }
            </tbody>
    </table>